/* estilos overlay */
.button_container {
    position: fixed;
    top: 2.1%;
    right: 2%;
    height: 50px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
  }
  @media (max-width: 768px) { /* media query: de 768 pixeles hacia abajo */
    .button_container {
        top: 2%;
        right: 6%;
         height: 50px;
    width: 30px;

    }

}


  .button_container:hover {
    opacity: .7;
  }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #fff;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  .button_container span {
    background: #ffffff;
    border: none;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 11px;
  }
  .button_container span:nth-of-type(3) {
    top: 22px;
  }
  .overlay {
    position: fixed;
    background: rgb(0, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }
  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
	  z-index: 1;
  }
  .overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
  }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    font-family: 'Saira','Franklin Gothic Medium', Arial, sans-serif;
    font-size: 2rem;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: .35s;
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }